
; =====================================================
; ================  EXPLOITS BLOCKED  =================
; =====================================================
add:
; --- block upper-level access at tanker truck after tank (left & right side)
{
    ; invisible block to avoid getting on bridge
    "origin" "4544 6600 750"
    "mins" "-500 0 0"
    "maxs" "0 40 50"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_player_blocker"
}
{
    ; invisible block to avoid getting on bridge
    "origin" "4544 6050 750"
    "mins" "-500 -40 0"
    "maxs" "0 0 50"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_player_blocker"
}

; --- clip to prevent getting stuck on/in railing
{
	; invisible block on left railing
    "origin" "5646 6544 658"
    "angles" "0 0 18"
    "mins" "-1007 -0.5 -22"
    "maxs" "975 1 22"
    "boxmins" "-1007 -0.5 -22"
    "boxmaxs" "975 1 22"
    "initialstate" "1"
    "BlockType" "0"
    "classname" "env_physics_blocker"
}
{
	; invisible block on right railing
    "origin" "5646 6113 529"
    "angles" "0 0 18"
    "mins" "-1007 -0.5 -22"
    "maxs" "975 1 22"
    "boxmins" "-1007 -0.5 -22"
    "boxmaxs" "975 1 22"
    "initialstate" "1"
    "BlockType" "0"
    "classname" "env_physics_blocker"
}
{
	; invisible block in corner near truck
    "origin" "5929 6072 475"
    "mins" "-45 -30 -75"
    "maxs" "45 30 75"
    "initialstate" "1"
    "BlockType" "0"
    "classname" "env_physics_blocker"
}
; --- block jump over fence (on concrete barrier)
{
    ; invisible block
    "origin" "9203 4100 450"
    "mins" "-30 -50 0"
    "maxs" "0 250 250"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_player_blocker"
}

; --- prevent survivors from getting out of map behind wall at start of bridge
{
    ; invisible block above truck
    "origin" "-11814 6502 642"
    "mins" "-6 -70 -74"
    "maxs" "6 70 74"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_player_blocker"
}
{
    ; invisible block around sign
    "origin" "-11552 6576 656"
    "mins" "-24 -32 -104"
    "maxs" "24 32 104"
    "initialstate" "1"
    "BlockType" "1"set
    "classname" "env_player_blocker"
}
; --- block survivor bhop across top of bridge and off map
{
    ; invisible block above horizontal metal beam
    "origin" "-5528 6568 860"
    "mins" "-40 -16 -100"
    "maxs" "40 16 100"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
; --- block common hop up to upper blue bus section
{
    ; invisible block along upper section
    "origin" "1936 6320 1132"
    "mins" "-168 -272 -364"
    "maxs" "168 272 364"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
; --- block upper-level access at tanker truck after tank (left & right side)
{
    ; invisible block to avoid getting on bridge
    "origin" "4544 6600 750"
    "mins" "-500 0 0"
    "maxs" "0 40 50"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_player_blocker"
}
{
    ; invisible block to avoid getting on bridge
    "origin" "4544 6050 750"
    "mins" "-500 -40 0"
    "maxs" "0 0 50"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_player_blocker"
}
; --- block access off map at end of bridge from missing clip
{
    ; invisible block left of fence
    "origin" "9552 6640 556"
    "mins" "-112 -80 -180"
    "maxs" "112 80 180"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
{
    ; invisible block above fence
    "origin" "9480 6320 664"
    "mins" "-24 -240 -57"
    "maxs" "24 240 57"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
; --- block jumping over fence to shortcut on final section
{
    ; invisible block over fence 1
    "origin" "9268 3895 1304"
    "angles" "0 7 0"
    "mins" "-7 -288 -763"
    "maxs" "7 288 763"
    "boxmins" "-7 -288 -763"
    "boxmaxs" "7 288 763"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
{
    ; invisible block over fence 2
    "origin" "9207 4301 1304"
    "angles" "0 12 0"
    "mins" "-7 -124 -763"
    "maxs" "7 124 763"
    "boxmins" "-7 -124 -763"
    "boxmaxs" "7 124 763"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
{
    ; invisible block over fence 3
    "origin" "9143 4540 1304"
    "angles" "0 18 0"
    "mins" "-7 -124 -763"
    "maxs" "7 124 763"
    "boxmins" "-7 -124 -763"
    "boxmaxs" "7 124 763"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}

; --- missing clip around fence at end allowing access off map
{
    ; invisible block left of fence
    "origin" "9552 6640 556"
    "mins" "-112 -80 -180"
    "maxs" "112 80 180"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_player_blocker"
}
{
    ; invisible block above fence
    "origin" "9480 6320 664"
    "mins" "-24 -240 -57"
    "maxs" "24 240 57"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_player_blocker"
}
; =====================================================

; =====================================================
; ===========  PROMOD SAFEROOM WEAPONS FIX  ===========
; =====================================================
modify:
; --- fix saferooms having no shotgun/uzi/disappearing weapon spawns
{
    ; no uzi fix
    match:
    {	
	    "hammerid" "2338606"
	}
	replace:
	{
	    "weapon_selection" "any_rifle"
	}
}
{
    ; no shotgun fix
    match:
    {	
	    "hammerid" "2338604"
	}
	replace:
	{
	    "weapon_selection" "tier2_shotgun"
	}
}
{
    ; no hr fix
    match:
    {	
	    "hammerid" "2338608"
	}
	replace:
	{
	    "classname" "weapon_hunting_rifle_spawn"
	}
}
; =====================================================

; =====================================================
; ================= FINALE FIX =================
; =====================================================
add:
; --- add 2 static pills in back of truck near tank spawn area
{
	"classname" "weapon_first_aid_kit_spawn"
	"spawnflags" "2"
	"origin" "3004 6286 494"
	"angles" "0 0 0"
}
{
	"classname" "weapon_first_aid_kit_spawn"
	"spawnflags" "2"
	"origin" "3020 6294 494"
	"angles" "0 0 0"
}
; =====================================================

; =====================================================
; ================= NON-RESTRICTIVE ===================
; =====================================================
add:
; -- van for SI spawns at end of bridge
{
        ; van
	"solid" "6"
	"origin" "7480 6300 455.5"
	"angles" "0 40 0"
	"model" "models/props_vehicles/van.mdl"
	"classname" "prop_dynamic"
}
{
        ; van -- glass
	"solid" "6"
	"origin" "7480 6300 455.5"
	"angles" "0 40 0"
	"model" "models/props_vehicles/van_glass.mdl"
	"classname" "prop_dynamic"
}
; =====================================================

{
	; テント上1
	"origin" "8858.53 5222.66 552.38"
	"angles" "0 -55.5 0"
	"mins" "0 0 0"
	"maxs" "150 132.5 300"
	"boxmins" "0 0 0"
	"boxmaxs" "150 132.5 300"
	"initialstate" "1"
	"BlockType" "1"
	"classname" "env_physics_blocker"
}
{
	; テント上2
	"origin" "8945.19 5118.06 552.38"
	"angles" "0 -62 0"
	"mins" "0 0 0"
	"maxs" "150 130.4 300"
	"boxmins" "0 0 0"
	"boxmaxs" "150 130.4 300"
	"initialstate" "1"
	"BlockType" "1"
	"classname" "env_physics_blocker"
}
{
	; テント上3
	"origin" "9013.96 4994.76 552.38"
	"angles" "0 -60 0"
	"mins" "0 0 0"
	"maxs" "150 130 300"
	"boxmins" "0 0 0"
	"boxmaxs" "150 130 300"
	"initialstate" "1"
	"BlockType" "1"
	"classname" "env_physics_blocker"
}